<div class="col-md-3">
  <br><br>
  <div class="form-group">
    <%= search_form_for @search, url: articles_path, method: :get, html: { class: 'form-group' } do |f| %>
    <% end %>
  </div>
</div>
