<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white"><br><br>
          <h1 class="display-4">Welcome to bloggers app!</h1>
          <b><p class="lead">Our blogging app is designed to provide you with a seamless and enjoyable writing experience. Whether you are a seasoned writer or just starting your blogging journey, our app has all the features you need to create, manage, and share your content with the world. 
                          </p>
          <hr class="my-4">
          <p>We are dedicated to continuously improving our blogging app and providing you with the best blogging experience possible. Join us today and start sharing your stories with the world!</p>

          <p> Happy blogging!</p></b>
        <%= link_to 'Read Blogs', articles_path, class: "btn btn-info btn-lg" %>    
        </div>
    </div>
</div>