<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white"><br><br>
            <h1>ABOUT BLOGGER</h1>
            <b><p class="lead">At our blogging app, we believe that everyone has a story to tell, and we are here to help you share yours. Whether you want to express your thoughts, share your knowledge, or showcase your creativity, our platform provides the perfect space for you to unleash your writing potential.</p>
            <hr class="my-4">
            <p>Happy blogging!</p></b>
            <%= button_to 'HOME', root_path, class: "btn btn-outline-info" %>
            </div>
    </div>
</div>
    